%container {
  border-radius: 0.5rem;
  margin: 10px;
  padding: 30px;
  background-color: #F7E678;
  color: black;
}

.message-content {
  @extend %container;
  background-color: #efa250;
  -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
}

#settings-container {
  @extend %container;
  width: 20%;
}

#messages-container {
  @extend %container;
}

.container {
  margin-top: 100px;
}