.dark-mode {
    background-color: black;
    color: white;
    .timestamp {
      color: lightgray;
    }
    %container {
      background-color: #2C74A0;
    }
    .message-content {
      background-color: #333333;
      color: white;
    }
    #settings-container {
      color: white;
    }
    .edit {
      color: white;
    }
    .close {
      color: white;
    }
  }

.large-text {
  font-size: 1.5em;
  h5{font-size: 1.6em;}
  h4{font-size: 1.7em;}
  .timestamp {
    font-size: .9em;
  }
}