@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

body {
  background-color: white;
  color: black;
}

.dark-mode {
  background-color: black;
  color: white;
}

.message--input {
  width: 75vw;
}

//COMPONENTS
@import './components/';